# --- Environnement virtuel ---
venv/
.env
*.env

# --- Données ---
data/
*.csv
*.db

# --- Fichiers temporaires ---
__pycache__/
*.pyc
*.pyo
*.log

# --- Notebooks checkpoints (Jupyter) ---
.ipynb_checkpoints/

# --- Fichiers système ---
.DS_Store
Thumbs.db

# Garder les dossiers data/ mais ignorer leur contenu
data/**
!data/.gitkeep
!data/raw/.gitkeep
!data/cleaned/.gitkeep